<!--中部Banner广告-->
<div class="jumbotron">
    <img src="~/images/middle_moon.jpg" width="1000px" height="330px" />
</div>
<!--面包屑-->
<!--<div>
    <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">Library</a></li>
        <li><a href="~/ErpProductItem/Index">商品</a></li>
        <li class="active">Data</li>
    </ol>
</div>-->
<!--A分类-->
<div>
    <div class="page-header">
        <h3><span class="label label-danger">休闲食品</span></h3>
    </div>
    <div>
        <div class="col-md-3">
            <img src="~/images/riqingquqi.jpg" />
        </div>
        <div class="col-md-3">
            <img src="~/images/danenggaogai.jpg" />
        </div>
        <div class="col-md-3">
            <img src="~/images/quduoduo.jpg" />
        </div>
        <div class="col-md-3">
            <img src="~/images/miaofu.jpg" />
        </div>
    </div>
</div>
<!--B分类-->
<div>
    <div class="page-header">
        <h3><span class="label label-danger">酒水饮料</span></h3>
    </div>
    <div>
        <div class="col-md-3">
            <img src="~/images/jiaduobao.jpg" />
        </div>
        <div class="col-md-3">
            <img src="~/images/quechaoyouhuoyinyongshui.jpg" />
        </div>
        <div class="col-md-3">
            <a href="~/DemoProductItem/Index">
                <img src="~/images/nongfushanquandongfangshuye.jpg" />
            </a>
        </div>
        <div class="col-md-3">
            <img src="~/images/qilingwuhouhongcha.jpg" />
        </div>
    </div>
</div>
<!--C分类-->
<div>
    <div class="page-header">
        <h3><span class="label label-danger">生活用品</span></h3>
    </div>
    <div>
        <div class="col-md-3">
            <img src="~/images/aitefu84.jpg" />
        </div>
        <div class="col-md-3">
            <img src="~/images/baimao.jpg" />
        </div>
        <div class="col-md-3">
            <img src="~/images/qingfengchouzhi.jpg" />
        </div>
        <div class="col-md-3">
            <img src="~/images/zhibei.jpg" />
        </div>
    </div>
</div>