<!--面包屑-->
<div>
    <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">大分类</a></li>
        <li><a href="#">中分类</a></li>
        <li><a href="#">小分类</a></li>
        <li><a href="~/ErpProductItem/Index">东方树叶</a></li>
        <li class="active">Data</li>
    </ol>
</div>
<!--A分类-->
<div>
    <div class="container">
        <div class="col-md-6">
            <img src="~/images/dfsy-main.png" />
        </div>
        <div class="col-md-6">
            <p><h1>农夫山泉 东方树叶乌龙茶 480ml*15 </h1></p>
            <p>商品编号：9000-876519</p>
            <p>保质天数：360天</p>
            <p>商品品牌：农夫山泉</p>
            <p>&nbsp;</p>
            <p><h3>¥45</h3></p>
            <p><div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">我要购买：</label>
                <div class="input-group">
                    <div class="input-group-addon">-</div>
                    <input class="form-control input-lg" type="text" width="20px" value="1">
                    <div class="input-group-addon">+</div>
                </div>
            </div>
            </p>
            <p><button type="button" class="btn btn-primary btn-lg">加入购物车</button></p>
        </div>
    </div>
    <div class="container" style="margin:10px;border-top:1px solid lightgray;padding-top:5px;">
        <div class="col-md-3">
            其它广告区域
        </div>
        <div class="col-md-9">
            <p><img src="~/images/dfsy-1.jpg" /></p>
            <br />
            
            <p>
                <img src="~/images/dfsy-2.jpg" />
            </p>
                <br />
            <p>
                <img src="~/images/dfsy-3.jpg" />
            </p>
                <br />
            <p><img src="~/images/dfsy-4.jpg" /></p>
</div>
    </div>

</div>