<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#">首页</a></li>
    <li role="presentation"><a href="#">优惠方案</a></li>
    <li role="presentation"><a href="#">促销信息</a></li>
    <li role="presentation"><a href="#">快速订单</a></li>
</ul>
